$color-black1: #000000;

$color-gray1: #888888;
$color-gray2: #CDCDCD;
$color-gray3: #F3F3F3;

$color-white1: #FFFFFF;
$color-blue1: #3EADFF;

$color-purple1: #4f005f;
$color-purple2: #741188;

$color-red1: #FF0000;