@import '../../sass/colors';

.title {
    align-items: center;
    color: $color-black1;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 4.63px;
}

.mainContainer {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    
    input {
        width: 200px;
    }
}
